<a href="{{ include.dir }}/{{ include.file }}" target="_blank">
  <picture>
    {%- if include.width %}
    {%- for targetWidth in site.img_widths reversed -%}
    {% if include.width <= targetWidth %}{% continue %}{% endif %}
    {%- if targetWidth > 1000 %}
    <source media="(min-width: 1000px) and (min-resolution: {{ targetWidth | divided_by: 1000.0 }}dppx)"
    {%- elsif targetWidth > 500 %}
    <source media="(min-width: 500px), (min-resolution: 1.1dppx)"
    {%- else %}
    <source
    {% endif %}
            srcset="{{ include.dir }}/{{ targetWidth }}px/{{ include.file }}" >
    {%- endfor %}
    {%- endif %}
    <img {% if include.width < 500 %}
         src="{{ include.dir }}/{{ include.file }}"
         {% else %}
         src="{{ include.dir }}/500px/{{ include.file }}"
         {% endif %}
         alt="{{ include.descr }}" />
  </picture>
</a>
