<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Kelly And Brian - Now Married!</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/main.css">

  <link rel="icon" href="img/kb.svg">
  <link rel=”mask-icon” href=”imb/kb.svg” color=”#000000">

</head>

<body>


  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

    <div class="row logo-row">
      <img src="img/kb-outline.svg" alt="K&B" />
    </div>

    <div class="row nav-row">

      <!-- can't have spaces between the buttons or it messes shit up -->
      <button>Elopment</button><!--
      --><button>Reception</button><!--
      --><button>Registry</button>

    </div>

    {{ content }}

  </div>
</body>

</html>
