<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Kelly And Brian - Now Married!</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/main.css">

  <link rel="icon" href="img/kb.svg">
  <link rel=”mask-icon” href=”imb/kb.svg” color=”#000000">

</head>

<body>


  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

    <div class="row logo-row">
      <img src="img/kb-outline.svg" alt="K&B" />
    </div>

    <div class="row nav-row">

      <!-- can't have spaces between the buttons or it messes shit up -->
      <a href="index.html"><button>Elopement</button></a><!--
      --><a href="photos.html"><button>Photos</button></a><!--
      --><a href="reception.html"><button>Reception</button></a>

    </div>

    {{ content }}

    <div class="row">
      <div class="columns offset-by-two eight horiz-line">&nbsp;</div>
    </div>

    <div class="row sig-row">
      <div class="columns offset-by-two eight">
        <p>
          Made with love
        </p>
        <img src="img/martin_bw.png" alt="Mart rules everything around me" />
        <p>
          by Brian &amp; Kelly
        </p>
        <p style="margin: 2.5rem 0;">
          Photos by <a href="https://ashleyjoycephotography.com/">Ashley Joyce</a>
        </p>
      </div>
    </div>

  </div>
</body>

</html>
