---
---

html {
    background: url(../img/bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
}

body {
    height: 100%;
}

$container-bg: #FFF;
$accent: #CCC;

.container {
    min-height: 100%;
    background-color: $container-bg;
    color: #3E514F;
    max-width: 1000px;
    padding: 0 100px;
}

.logo-row {
    text-align: center;

    img {
        max-width: 75vw;
        width: 50%;
        padding: 2rem 0rem;
        margin: 0 4% 0 4%;
    }
}

.nav-row {
    text-align: center;
    margin: 0 2rem 2rem 2rem;
    background: linear-gradient(180deg,
        $container-bg calc(50% - 1px),
        $accent calc(50%),
        $container-bg calc(50% + 1px)
    );

    button {
        border: none;
        padding: 0 2rem;

        // -1px so that when stacked vertically there is some overlap between
        // the top and bottom buttons, which will then cover the background
        // line fully. Without this it kind of pokes through between the
        // buttons.
        margin: -1px 0;

        background: $container-bg;
    }
}

@font-face {
  font-family: lato-light;
  src: url(LatoLatin-Light.ttf);
}

h1 {
    font-family: lato-light;
    text-align: center;
}

.horiz-line {
    background: linear-gradient(180deg,
        $container-bg calc(50% - 1px),
        $accent calc(50%),
        $container-bg calc(50% + 1px)
    );
    margin-bottom: 2.5rem;
}
